@{
    ViewBag.Title = "Session timeout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Session timeout
        </h1>
        <p class="lede">
            Your session has timed out please <a href="#">Login</a> again to return to you application.
        </p>
    </div>
</div>
