
@{
    ViewBag.Title = "Organisation Details - Part 2";
}

@model GLAA.ViewModels.LicenceApplication.TradingNameViewModel


@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">
                What is your trading name?
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.TextFormGroupFor(x => x.TradingName)
        </div>
    </div>

    <button type="submit" class="button">Save and continue</button>
}

