@{
    ViewBag.Title = "Organisation Details - Part 9";
}

@model GLAA.ViewModels.LicenceApplication.BusinessMobileNumberViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                What is your business mobile number?
            </h1>
        </div>
        <div class="column-two-thirds">            
            <div class="form-group">
                @Html.LabelWithHintFor(x => x.BusinessMobileNumber)
                @Html.TextBoxFor(x => x.BusinessMobileNumber, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <button type="submit" class="button">Save and continue</button>
}

@section Scripts {    
}