@{

    ViewBag.Title = "Organisation Details - Part 4";
}

@model GLAA.ViewModels.LicenceApplication.OperatingCountriesViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                Indicate which of these countries your workers will be working in?
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.CheckBoxFormGroupFor(x => x.OperatingCountries, Model.OperatingCountries)
        </div>
    </div>
    <button type="submit" class="button">Save and continue</button>
}
