.phase-banner {
  max-width: 960px;
  margin: 0 15px; }

#content.admin-content-container {
  max-width: none; }

@media (min-width: 641px) {
  .phase-banner,
  .admin-heading {
    margin: 0 30px; } }

@media (min-width: 1020px) {
  .phase-banner,
  .admin-heading {
    margin: 0 auto; } }

.multiple-choice [type=checkbox] ~ label::before {
  content: "";
  border: 2px solid;
  background: transparent;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0; }

.multiple-choice [type=checkbox] ~ label::after {
  content: "";
  border: solid;
  border-width: 0 0 5px 5px;
  background: transparent;
  border-top-color: transparent;
  width: 17px;
  height: 7px;
  position: absolute;
  top: 10px;
  left: 8px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0; }

.multiple-choice input:checked ~ label::after {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1; }

/* Override existing GDS image paths to match MVC bundle structure*/
.button-start,
.button-get-started {
  background-image: url("images/icon-pointer.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .button-start,
  .button-get-started {
    background-image: url("images/icon-pointer-2x.png"); } }

.icon-calendar {
  background-image: url("images/icon-calendar.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-calendar {
    background-image: url("images/icon-calendar-2x.png"); } }

.icon-file-download {
  width: 30px;
  height: 39px;
  background-image: url("images/icon-file-download.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-file-download {
    background-image: url("images/icon-file-download-2x.png");
    background-size: 100%; } }

.icon-important {
  width: 35px;
  height: 35px;
  background-image: url("images/icon-important.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-important {
    background-image: url("images/icon-important-2x.png");
    background-size: 100%; } }

.icon-information {
  width: 27px;
  height: 27px;
  background-image: url("images/icon-information.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-information {
    background-image: url("images/icon-information-2x.png");
    background-size: 100%; } }

.icon-locator {
  width: 26px;
  height: 36px;
  background-image: url("images/icon-locator.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-locator {
    background-image: url("images/icon-locator-2x.png");
    background-size: 100%; } }

.icon-pointer {
  background-image: url("images/icon-pointer.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-pointer {
    background-image: url("images/icon-pointer-2x.png") !important; } }

.icon-pointer-black {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-pointer-black.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-pointer-black {
    background-image: url("images/icon-pointer-black-2x.png");
    background-size: 100%; } }

.icon-search {
  width: 30px;
  height: 22px;
  background-image: url("images/icon-search.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-search {
    background-image: url("images/icon-search-2x.png");
    background-size: 100%; } }

.icon-step-1 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-1.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-1 {
    background-image: url("images/icon-steps/icon-step-1-2x.png");
    background-size: 100%; } }

.icon-step-2 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-2.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-2 {
    background-image: url("images/icon-steps/icon-step-2-2x.png");
    background-size: 100%; } }

.icon-step-3 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-3.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-3 {
    background-image: url("images/icon-steps/icon-step-3-2x.png");
    background-size: 100%; } }

.icon-step-4 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-4.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-4 {
    background-image: url("images/icon-steps/icon-step-4-2x.png");
    background-size: 100%; } }

.icon-step-5 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-5.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-5 {
    background-image: url("images/icon-steps/icon-step-5-2x.png");
    background-size: 100%; } }

.icon-step-6 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-6.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-6 {
    background-image: url("images/icon-steps/icon-step-6-2x.png");
    background-size: 100%; } }

.icon-step-7 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-7.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-7 {
    background-image: url("images/icon-steps/icon-step-7-2x.png");
    background-size: 100%; } }

.icon-step-8 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-8.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-8 {
    background-image: url("images/icon-steps/icon-step-8-2x.png");
    background-size: 100%; } }

.icon-step-9 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-9.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-9 {
    background-image: url("images/icon-steps/icon-step-9-2x.png");
    background-size: 100%; } }

.icon-step-10 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-10.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-10 {
    background-image: url("images/icon-steps/icon-step-10-2x.png");
    background-size: 100%; } }

.icon-step-11 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-11.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-11 {
    background-image: url("images/icon-steps/icon-step-11-2x.png");
    background-size: 100%; } }

.icon-step-12 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-12.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-12 {
    background-image: url("images/icon-steps/icon-step-12-2x.png");
    background-size: 100%; } }

.icon-step-13 {
  width: 23px;
  height: 23px;
  background-image: url("images/icon-steps/icon-step-13.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-13 {
    background-image: url("images/icon-steps/icon-step-13-2x.png");
    background-size: 100%; } }

.icon-step-14 {
  background-image: url("images/icon-steps/icon-step-14.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-14 {
    background-image: url("images/icon-steps/icon-step-14-2x.png"); } }

/* GLAA custom icons */
.icon-tick {
  width: 27px;
  height: 27px;
  background-image: url("images/icon-tick.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-tick {
    background-image: url("images/icon-tick-2x.png");
    background-size: 100%; } }

.icon-cross {
  width: 27px;
  height: 27px;
  background-image: url("images/icon-cross.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-cross {
    background-image: url("images/icon-cross-2x.png");
    background-size: 100%; } }

