@{
    ViewBag.Title = "Named Individual - Part 1";
}

@model GLAA.ViewModels.LicenceApplication.NamedJobTitleViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                What role would you like to add?
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.TextFormGroupFor(x => x.JobTitle)
            @Html.TextFormGroupFor(x => x.JobTitleNumber)
        </div>
    </div>
    
    <button type="submit" class="button">Save and continue</button>
}

