@{
    ViewBag.Title = "Does your business supply workers?";
}

@model GLAA.ViewModels.LicenceApplication.SuppliesWorkersViewModel

@using (Html.BeginForm())
{
    <div class="column-two-thirds">
        @Html.Partial("_GdsValidationSummary")
    </div>
    <div class="column-full">
        <h1 class="heading-xlarge">Does your business supply workers?</h1>
    </div>

    <div class="column-two-thirds">     
        <div class="form-group">
            <fieldset>
                <legend>
                    <span class="body-text"></span>
                </legend>
                @foreach (var option in Model.YesNo)
                {
                    <div class="multiple-choice">
                        @Html.RadioButtonFor(x => x.SuppliesWorkers, option.Value, new { id = $"SuppliesWorkers_{option.Text}"})
                        @Html.LabelFor(x => x.SuppliesWorkers, option.Text, new { @for = $"SuppliesWorkers_{option.Text}" })
                    </div>
                }
            </fieldset>
        </div>
        <button type="submit" class="button">Continue</button>
    </div>

}
