@{
    ViewBag.Title = "Information and costs";
}

@model GLAA.ViewModels.LicenceApplication.LicenceApplicationViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">Information and costs</h1>

            <p class="lede">
                In this task you'll be asked a series of questions to work out if you fall under the GLAA licence.
            </p>

            <p>
                Complete this task to find out:
            </p>

            <ul class="list list-bullet">
                <li>
                    Whether you fall under the GLAA licensing requirements
                </li>
                <li>How much it will cost to apply for a licence</li>
                <li>How long the application process will take</li>
                <li>What tasks are involved in applying for a licence</li>
            </ul>

            <br />
            <button class="button" type="submit" role="button">Continue</button>
        </div>
    </div>
}
