@{
    ViewBag.Title = "Organisation - Part 12";
}

@model GLAA.ViewModels.LicenceApplication.ShellfishWorkerNumberViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                What is the average number of workers that you will use to gather shellfish?
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.TextFormGroupFor(x => x.NumberOfWorkers)
        </div>
    </div>    
    <button type="submit" class="button">Save and continue</button>
}

@section scripts
{
    <script>
    </script>
}