@{
    ViewBag.Title = "Have you or your organisation traded under any other name in the last 5 years?";
}

@model GLAA.ViewModels.LicenceApplication.PreviousTradingNamesViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                @ViewBag.Title
            </h1>
        </div>
        <div class="column-two-thirds">
            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="body-text"></span>
                    </legend>
                    @foreach (var option in Model.YesNo)
                    {
                        <div class="multiple-choice">
                            @Html.RadioButtonFor(x => x.HasPreviousTradingNames, option.Value, new { id = $"HasPreviousTradingNames{option.Text}" })
                            @Html.LabelFor(x => x.HasPreviousTradingNames, option.Text, new { @for = $"HasPreviousTradingNames_{option.Text}" })
                        </div>
                    }
                </fieldset>
            </div>
        </div>
    </div>

    <button type="submit" class="button">Save and continue</button>
}
