@{
    ViewBag.Title = "Principal Authority - Part 11";
}

@model GLAA.ViewModels.LicenceApplication.PersonalMobileNumberViewModel

@using (Html.BeginForm())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                What is your personal mobile phone number?
            </h1>
        </div>
        <div class="column-two-thirds">
            @Html.TextFormGroupFor(x => x.PersonalMobileNumber)
        </div>
    </div>
    
    <button type="submit" class="button">Save and continue</button>
}


